<div>
    <table id="table_alertInfo">
       <thead>
            <tr>
                <th>Date - Time</th>
                <th>Status</th>
                <th>Alert Subject</th>
                <th>Driver</th>
                <th>Vehicles</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor = "#alert of activityResults; #i = index;" (click)="handleClick(i)">
                <td>{{alert.createdTimestamp.value}}</td>
                <td>{{alert.status}}</td>
                <td>{{alert.subject}}</td>
                <td> - </td>
                <td> - </td>
            </tr>
        </tbody>
    </table>
</div>
